<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Subir archivo .txt</title>
</head>

<body>
  <h2>Sube un archivo .txt</h2>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept=".txt">
    <button type="submit">Subir</button>
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

</body>

</html>